  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>About Us</h2>
        <p>Learn More <span>About Us</span></p>
      </div>

      <div class="row gy-4">
        <div class="col-lg-7 position-relative about-img" style="background-image: url(assets/img/nosotros/hector.jpg) ;"
          data-aos="fade-up" data-aos-delay="150">
          <div class="call-us position-absolute">
            <h4>Book a Table</h4>
            <p>+1 5589 55488 55</p>
          </div>
        </div>
        <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
          <div class="content ps-0 ps-lg-5">
            <p class="fst-italic">
              A principios de los ´80,  Hector BENELLI inicia actividades comerciales en el rubro de especias y aditivos para productos cárnicos. Su actitud perseverante, de espiritu intuitivo y comercial, lo lleva a comercializar sus productos en el interior del país, logrando tener una mayor presencia en casi la totalidad de las provincias de nuestro país.
              A fines de década del 80 formaliza este emprendimiento comercial en una Sociedad de Responsabilidad Limitada, que con orgullo lleva su nombre.
              A comienzos de los 90,  da sus primeros pasos en la industria Textil con la fabricación de Hilo Pulido, utilizado en el atado de productos cárnicos de embutir. Su impulso lo lleva al desafío de adquirir  maquinaria textil e incorporación de personal idóneo para la Fabricación de dicho producto. La apuesta al nuevo emprendimiento es exitosa, abasteciendo no solo al mercado frigorifico con hilo pulido, sino también a papeleras con hilo de atar, hilo pabilo utilizado por fábricas de velas, hilo de encañar y enfardar a tabacaleras y otros artículos textiles para tejido. Este crecimiento viene acompañado también de los productos alimenticios que llevan su marca como los aditivos integrales para : chorizo, salame, hamburguesa, milanesa, jamon y bondiola, ligante para matambre, emulsionantes, estabilizantes y antioxidantes, utilizados en los productos cárnicos y otros artículos del ramo.
              A comienzo del nuevo milenio la fábrica se reubica en el lugar en el que actualmente se encuentra, cercana a la Municipalidad de Lanús.
              El 21 de Septiembre de 2021 Hector, partio dejando el legado a sus hijas, quienes a cargo de Karen Benelli continúa administrando la empresa, según el ejemplo de su padre.
               Este continuo crecimiento nunca hubiese sido posible sin la confianza y el apoyo de todos nuestros clientes que utilizan nuestros productos en casi todo el pais y en distintos mercados.
            </p>

            <div class="position-relative mt-4">
              <img src="assets/img/about-2.jpg" class="img-fluid" alt="">
              <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
            </div>
          </div>
        </div>
      </div>

    </div>



  </section><!-- End About Section -->

  <hr>