<section id="hero" class="hero  section-bg">
  <div class="container">
    <div class="row justify-content-between gy-5">
      <div class="col-lg-5 order-2 order-lg-1  align-items-lg-start text-center text-lg-start">

        <h1 class="why-box baloo" data-aos="fade-up" style="color: #ffffff;">Hilamos lo Bueno.<br>Unimos lo Rico</h1>

        <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
          <a href="#book-a-table" class="btn-book-a-table">Catalogo</a>
        </div>
      </div>
      <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
        <img src="assets/img/hero-img.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
      </div>
    </div>
  </div>
</section><!-- End Hero Section -->

<main id="main">

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us section-bg">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="why-box">
            <h3>Por qué Elegirnos?</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Duis aute irure dolor in reprehenderit
              Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.
            </p>
            <div class="text-center">
              <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
        </div><!-- End Why Box -->

        <div class="col-lg-8 mt-5 section-bg">
          <div class="container">
            <div class="row row-cols-1 row-cols-md-5 g-4">

              <div class="col mt-3">
                <div class="card text-center h-100">
                  <img src="../../../assets/img/home-items/index.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Aditivos Integrales</h5>
                    <table class="table table-hover">
                      <tbody>
                        <tr><td>Para Milanesa</td></tr>
                        <tr><td>Para Bondiola</td></tr>
                        <tr><td>Ver + <b>...</b></tr>
                    </table>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card text-center h-100">
                  <img src="../../../assets/img/home-items/index.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Especias</h5>
                    <table class="table table-hover">
                      <tbody>
                        <tr><td>Chimichurri</td></tr>
                        <tr><td>Fiumer</td></tr>
                        <tr><td>Ver + <b>...</b></tr>
                    </table>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card text-center h-100">
                  <img src="../../../assets/img/home-items/index.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Harinas</h5>
                    <table class="table table-hover">
                      <tbody>
                        <tr><td>Fecula de Maiz</td></tr>
                        <tr><td>Rebozador</td></tr>
                        <tr><td>Ver + <b>...</b></tr>
                    </table>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card text-center h-100">
                  <img src="../../../assets/img/home-items/index.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Tripas e Insumos</h5>
                    <table class="table table-hover">
                      <tbody>
                        <tr><td>Fecula de Maiz</td></tr>
                        <tr><td>Fecula de Mandioca</td></tr>
                        <tr><td>Ver + <b>...</b></tr>
                    </table>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card text-center h-100">
                  <img src="../../../assets/img/home-items/index.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Tripas e Insumos</h5>
                    <table class="table table-hover">
                      <tbody>
                        <tr><td>Fecula de Maiz</td></tr>
                        <tr><td>Fecula de Mandioca</td></tr>
                        <tr><td>Ver + <b>...</b></tr>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div><!-- End Why Us Section -->

      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= Stats Counter Section ======= -->
  <section id="stats-counter" class="stats-counter">
    <div class="container" data-aos="zoom-out">
    </div>
  </section><!-- End Stats Counter Section -->


  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us section-bg">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-5 g-4">

        <div class="col">
          <div class="card text-center h-100">
            <img src="../../../assets/img/home-items/index.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Papelera</h5>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card text-center h-100">
            <img src="../../../assets/img/home-items/index.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Papelera</h5>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card text-center h-100">
            <img src="../../../assets/img/home-items/index.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Papelera</h5>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card text-center h-100">
            <img src="../../../assets/img/home-items/index.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Papelera</h5>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card text-center h-100">
            <img src="../../../assets/img/home-items/index.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Papelera</h5>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Why Us Section -->


</main><!-- End #main -->