
<section id="hero" class="hero section-bg">
  <div class="container">
    <div class="row d-md-flex align-items-center">
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <h1 class="why-box baloo" data-aos="fade-up" style="color: #ffffff;">Hilamos lo Bueno<br>Unimos lo Rico</h1>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="#book-a-table" class="btn-book-a-table">Catalogo</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="assets/img/hero-img.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section><!-- End Hero -->


<main id="main">

    <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us section-bg">
    <div class="container">


      <div class="section-title" data-aos="fade-up">
        <h2>Nuestros Hilados</h2>
      </div>

      <div class="row row-cols-1 row-cols-md-5 g-4">

        <div class="col">
          <div class="card text-center h-100">
            <img src="assets/img/home-items/integrales.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Papelera</h5>
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <td>Hilo Crudo</td>
                  </tr>
                  <tr>
                    <td>Hilo Pulido</td>
                  </tr>
                  <tr>
                    <td>Hilo Color</td>
                  </tr>
                  <tr>
                    <td>Hilo Yute</td>
                  </tr>
                  <tr>
                    <td>Ver + <b>...</b>
                  </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card text-center h-100">
            <img src="assets/img/home-items/integrales.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Frigorifico</h5>
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <td>Hilo Maq. Ata.</td>
                  </tr>
                  <tr>
                    <td>Hilo Pulido Amarillo</td>
                  </tr>
                  <tr>
                    <td>Hilo Mortadela Bocha</td>
                  </tr>
                  <tr>
                    <td>Hilo Pulido Super Amarillo</td>
                  </tr>
                  <tr>
                    <td>Ver + <b>...</b>
                  </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card text-center h-100">
            <img src="assets/img/home-items/integrales.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Agroindustria</h5>
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <td>Hilo Poliester</td>
                  </tr>
                  <tr>
                    <td>Hilo Multifilamento</td>
                  </tr>
                  <tr>
                    <td>Hilo Para Encañar</td>
                  </tr>
                  <tr>
                    <td>Hilo Para Enfardar</td>
                  </tr>
                  <tr>
                    <td>Ver + <b>...</b>
                  </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card text-center h-100">
            <img src="assets/img/home-items/integrales.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Tejeduria</h5>
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <td>Hilo Aldodón</td>
                  </tr>
                  <tr>
                    <td>Hilo Crudo Cono</td>
                  </tr>
                  <tr>
                    <td>Hilo Peinado Cono</td>
                  </tr>
                  <tr>
                    <td>Hilo Poliester Cono</td>
                  </tr>
                  <tr>
                    <td>Ver + <b>...</b>
                  </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card text-center h-100">
            <img src="assets/img/home-items/integrales.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Fason</h5>
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <td>Retorcido 4/3</td>
                  </tr>
                  <tr>
                    <td>Madeja Titulo 1</td>
                  </tr>
                  <tr>
                    <td>Ovillado Titulo 1</td>
                  </tr>
                  <tr>
                    <td>Vaporizado Titulo 1</td>
                  </tr>
                  <tr>
                    <td>Ver + <b>...</b>
                  </tr>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Why Us Section -->



  <!-- ======= Stats Counter Section ======= -->
  <section id="stats-counter" class="stats-counter">
    <div class="container" data-aos="zoom-out">
    </div>
  </section><!-- End Stats Counter Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title" data-aos="fade-up">
        <h2>Nuestros Productos Alimenticios</h2>
      </div>

      <div class="row mt-5 section-bg">
        <div class="container">
          <div class="row row-cols-1 row-cols-md-4 g-4">

            <div class="col">
              <div class="card text-center h-100">
                <img src="../../../assets/img/home-items/integrales.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Aditivos Integrales</h5>
                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <td>Para Milanesa</td>
                      </tr>
                      <tr>
                        <td>Para Bondiola</td>
                      </tr>
                      <tr>
                        <td>Para Chorizo</td>
                      </tr>
                      <tr>
                        <td>Para Hamburguesa</td>
                      </tr>
                      <tr>
                        <td>Ver + <b>...</b>
                      </tr>
                  </table>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card text-center h-100">
                <img src="../../../assets/img/home-items/especias.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Especias</h5>
                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <td>Chimichurri</td>
                      </tr>
                      <tr>
                        <td>Fiumer</td>
                      </tr>
                      <tr>
                        <td>Pimianta</td>
                      </tr>
                      <tr>
                        <td>Ajo en Polvo</td>
                      </tr>
                      <tr>
                        <td>Ver + <b>...</b>
                      </tr>
                  </table>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card text-center h-100">
                <img src="assets/img/home-items/integrales.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Harinas</h5>
                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <td>Fecula de Maiz</td>
                      </tr>
                      <tr>
                        <td>Fecula de Trigo</td>
                      </tr>
                      <tr>
                        <td>Harina de Soja</td>
                      </tr>
                      <tr>
                        <td>Rebozador</td>
                      </tr>
                      <tr>
                        <td>Ver + <b>...</b>
                      </tr>
                  </table>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card text-center h-100">
                <img src="../../../assets/img/home-items/especias.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Tripas e Insumos</h5>
                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <td>Chinezca</td>
                      </tr>
                      <tr>
                        <td>Colageno</td>
                      </tr>
                      <tr>
                        <td>Celofan Microporoso</td>
                      </tr>
                      <tr>
                        <td>Red Bondiola</td>
                      </tr>
                      <tr>
                        <td>Ver + <b>...</b>
                      </tr>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div><!-- End Why Us Section -->

      </div>

    </div>
  </section><!-- End Why Us Section -->



</main><!-- End #main -->