<header id="hero" class="hero section-bg">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-sm-4 text-left align-self-center">
        <h1 class="why-box baloo" data-aos="fade-up" style="color: #ffffff;">Hilamos lo Bueno<br>Unimos lo Rico</h1>
      </div>
      <div class="col-sm-8 align-self-center">
        <img src="assets/img/hero-img.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</header><!-- End Hero --> 




  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="section-bg">
    <div class="container ">


      <div class="section-title" data-aos="fade-up">
        <h2>Nuestros Hilados</h2>
      </div>

      <div class="row row-cols-1 row-cols-md-5 g-4">

        <div class="col">
          <div class="card-deck">
            <div class="card text-center h-100">
              <img src="assets/img/home-items/papelera.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title baloo">Papelera</h5>
                <a href="#" class="btn btn-primary mt-3">Ver Artículos</a>
              </div>
            </div>
            <!-- Add additional cards here -->
          </div>
        </div>

        <div class="col">
          <div class="card-deck">
            <div class="card text-center h-100">
              <img src="assets/img/home-items/frigorifico.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title baloo">Frigorifico</h5>
                <a href="#" class="btn btn-primary mt-3">Ver Artículos</a>
              </div>
            </div>
            <!-- Add additional cards here -->
          </div>
        </div>

        <div class="col">
          <div class="card text-center h-100">
            <img src="assets/img/home-items/agroindustria.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title baloo">Agroindustria</h5>
              <a href="#" class="btn btn-primary mt-3">Ver Artículos</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card text-center h-100">
            <img src="assets/img/home-items/tejeduria.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title baloo">Tejeduria</h5>
              <a href="#" class="btn btn-primary mt-3">Ver Artículos</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card text-center h-100">
            <img src="assets/img/home-items/fason.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title baloo">Fason</h5>
              <a href="#" class="btn btn-primary mt-3">Ver Artículos</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Why Us Section -->



  <!-- ======= Stats Counter Section ======= -->
  <section id="stats-counter" class="stats-counter">
    <div class="container" data-aos="zoom-out">
    </div>
  </section><!-- End Stats Counter Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title" data-aos="fade-up">
        <h2>Nuestros Productos Alimenticios</h2>
      </div>

      <div class="row mt-5 section-bg">
        <div class="container">
          <div class="row row-cols-1 row-cols-md-4 g-4">

            <div class="col">
              <div class="card text-center h-100">
                <img src="assets/img/home-items/integrales.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title baloo">Aditivos Integrales</h5>
                  <a href="#" class="btn btn-primary mt-3">Ver Artículos</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card text-center h-100">
                <img src="assets/img/home-items/especias.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title baloo">Especias</h5>
                  <a href="#" class="btn btn-primary mt-3">Ver Artículos</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card text-center h-100">
                <img src="assets/img/home-items/integrales.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title baloo">Harinas</h5>
                  <a href="#" class="btn btn-primary mt-3">Ver Artículos</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card text-center h-100">
                <img src="assets/img/home-items/especias.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title baloo">Tripas e Insumos</h5>
                  <a href="#" class="btn btn-primary mt-3">Ver Artículos</a>
                </div>
              </div>
            </div>

          </div>
        </div><!-- End Why Us Section -->

      </div>

    </div>
  </section><!-- End Why Us Section -->



