.nav-link {
    font-size: 18px;
    color: #4E60AE !important;
    font-weight: bold;
    //text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;

    
    margin: 0;
    padding: 0;
    font-family: "baloo", "arial", sans-serif;
}

.nav-link:hover {
    color: #4E60AE !important;
    text-shadow: rgb(202, 202, 202) 0.1em 0.1em 0.2em;
}

.navbar-collapse {
    justify-content: center,
}

.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    font-weight: bold;
}

img {
    width: 70px;
}

.avatar {
    width: 25px;
    height: 25px;
    border-radius: 25px;
}

img {
    width: 120px;
}

/*
.bg {
  // background-color: #4260a8 !important;
}*/

.baloo {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "baloo", "arial", sans-serif;
  }
  